.channel-header__cup {
  width: 100%;
}

.channel-info {
  display: flex;
  justify-content: space-between;
  margin: 38px 0;
  color: #ffffff;
  align-items: center;
  &-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__author-image {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    &__author-name {
      font-size: 27px;
    }
    &__follow {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  &__follows {
    font-size: 20px;
  }
}