.header-profile {
  display: flex;
  align-items: center;
  //margin-left: 385px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {

  }

  &__photo {
    width: 32px;
    height: 32px;
  }
  &__name {
    font-size: 16px;
    color: #ffffff;
    margin-left: 12px;
  }
  &__arrow {
    margin-left: 10px;
  }
  &__notification {
    margin-left: 35px;
  }

}
.profile-menu {
  background: #1F1D2B;
  position: absolute;
  right: 90px;
  display: none;
  &__link {
    cursor: pointer;
    text-decoration: none;
    padding: 4px 10px;
    color: #ffffff;
    font-size: 16px;

  }
}
.unAuth {
  display: flex;
  margin-right: 10px;
  &__link {
    color: #ffffff;
    text-decoration: none;
    &_left {
      margin-right: 40px;
    }

  }
}
@media (max-width: 550px) {
  .header-profile {
    &__photo {
      width: 20px;
      height: 20px;
    }
    &__name {
      font-size: 14px;
    }
    &__notification {
      margin-left: 5px;
      width: 15px;
    }
  }

}